
BibliotecaUnit/obj/Debug/netcoreapp3.1/BibliotecaUnit.GeneratedMSBuildEditorConfig.editorconfig
BibliotecaUnit/obj/Debug/netcoreapp3.1/BibliotecaUnit.assets.cache
BibliotecaUnit/obj/Debug/netcoreapp3.1/BibliotecaUnit.GeneratedMSBuildEditorConfig.editorconfig
